{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["IE 11", "> 5%"],
          "uglify": true
        },
        "useBuiltIns": true,
        "test": {
        },
        "development": {
          "modules": false
        },
        "production": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "env": {
    "development": {
      "plugins": ["babel-plugin-styled-components"]
    }
  },
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-class-properties"],
    ["babel-plugin-root-import", [{
      "rootPathPrefix": "#",
      "rootPathSuffix": "__js_test_config"
    }, {
      "rootPathPrefix": "~",
      "rootPathSuffix": "app/javascript"
    }]],
    ["react-intl", {
      "messagesDir": "./build/messages/"
    }],
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
