{
  "presets": [
    [
      "es2015",
      {
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true,
        "test": {
        },
        "development": {
          "modules": false
        },
        "production": {
          "modules": false
        }
      }
    ],
    "stage-1",
    "react"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["babel-plugin-root-import", {
      "rootPathSuffix": "app/javascript"
    }],
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
