body {
  background: #f2f2f2;
  // mainly for grid, so that you can't drag off to the right forever
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  word-wrap: break-word;
  strong {
    font-weight: inherit;
  }
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.33rem;
}

p {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
