
// Keep in sync with utils/variables.js
$smallBreakpoint: 645px;
$medBreakpoint: 1060px;
$largeBreakpoint: 1308px;

body {
  background: #f2f1ee;
  // mainly for grid, so that you can't drag off to the right forever
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  word-wrap: break-word;
  line-height: 1.25;
  strong {
    font-weight: inherit;
  }
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

p {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

strong {
  font-weight: 500;
}
svg {
  height: 100%;
  pointer-events: none;
  width: 100%;
}
