.Grid {
  position: relative;

  .react-draggable-dragged:not(.react-draggable-dragging) {
    // this is to transition the draggable back to its original spot when you let go
    transition: all 0.5s;
  }
}
