html {
  // we were just using bourbon for font-smoothing, so have included explicitly here
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Sentinel', serif;
}

@media only screen and (max-width: 645px) {
  html {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Sentinel';
  src: asset-url('Sentinel-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: asset-url('Sentinel-MediumItal.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
  src: asset-url('Sentinel-Book.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: asset-url('Gotham-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: asset-url('Gotham-Book.otf');
  font-weight: 100;
  font-style: normal;
}
