<div class="container">
  <div class="col-sm-12">
    <h1>Current User</h1>

    <p>
      ID: <%= current_user.id %>
    </p>
    <p>
      Email: <%= current_user.email %>
    </p>
  </div>
</div>

