// copied / modified from c-delta
// Styles for email templates (inlined using Roadie gem)

$color-white: #ffffff;
$color-gray-bg: #f0f2f4;
$color-gray-boulder: #787878;
$color-gray-tundora: #4A4A4A;
$color-blacklava: #120f0e;
$gotham-font: 'Gotham', 'Verdana', sans-serif;
$sentinel-font: 'Sentinel', Palatino, Georgia, serif;
$sentinel-lt-font: 'Sentinel-Light', 'Sentinel', Palatino, Georgia, serif;

.c-white {
  color: white;
}

.email-wrapper {
  font-family: $sentinel-lt-font;
  font-size: 14px;
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  background-color: $color-gray-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; color: $color-blacklava;

  a, a:visited {
    text-decoration: none;
  }
  a.underlined {
    text-decoration: underline;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $gotham-font;
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .p {
    padding: 0 0 1em 0;
    line-height: 1.33;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    td {
      padding: 6px;
    }
  }

  .email-inner {
    padding: 30px;
    margin: 0 auto;
    max-width: 650px;
  }

  .email-header {
    text-align: center;
    padding: 10px 0;
  }

  .email-header__logo {
    display: block;
    margin: 25px auto 10px;

    img {
      width: 83px;
      height: 53px;
    }
  }

  .email-header__image {
    max-width: 95%;
    margin: 0 auto;
  }

  .email-content {
    background-color: $color-white;
    padding: 45px;
    font-size: 16px;
  }

  .email-link {
    a {
      font-family: $gotham-font;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;
      font-size: 16px;
      letter-spacing: 1.5px;
      padding: 12px;
      display: block;
      background: black;
      margin: 40px auto;
      max-width: 250px;
      border-radius: 24px;
    }
  }

  .email-image {
    display: block;
    margin: auto;
  }

  .email-footer {
    font-size: 13px;
    text-align: center;
    padding: 40px;

    &, a, a:visited {
      color: $color-gray-boulder;
    }
  }

  .email-footer__why {
    font-size: 15px;
    margin-bottom: 6px;
  }

  .email-footer__links {
    a {
      display: inline-block;
      margin: 40px 20px;
    }
  }

  .email-footer__copyright {
    margin-top: 10px;
  }
  .email-footer__address {
    margin-top: 5px;
  }
}

// Invite mailer
.header {
  color: #120F0E;
  font-family: $gotham-font;
  font-size: 22px;
  font-weight: 600;
  height: 26px;
  letter-spacing: 2px;
  line-height: 26px;
  margin-bottom: 15px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 390px;
}
button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Notification__Container {
  background-color: #3f526a;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.Notification {
  background: #242d37;
  box-sizing: border-box;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  min-height: 75px;
  padding: 12px;
  position: relative;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  width: calc(100% - 20px);
}

.bold {
  font-weight: 700;
}

.Rfx {
  display: flex;
}

.Notification__ButtonContainer {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 9px;
  margin-top: 20px;
  width: 12px;
}

.button_sg_NotificationButton {
  background-color: #d66742;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  width: 12px;
}

.Moment {
  color: white;
  display: inline-block;
  font-family: $gotham-font;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}

.Activity__ActivityButton {
  display: block;
  text-align: left;
}

.Activity__ActivityText {
  color: #f2f1ee;
  font-family: $gotham-font;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 3px;

  span {
    font-family: $gotham-font;
  }
}

.CommentThread {
  background-color: #3f526a;
  margin-bottom: 25px;
  padding: 10px 0;
}
.CommentThread__StyledHeader {
  align-items: flex-start;
  color: white;
  display: flex;
  height: 70px;
  font-family: $gotham-font;
  font-size: 23px;
  .name {
    text-transform: uppercase;
  }
}

.CommentThread__title {
  background-color: #3f526a;
  color: white;
  font-family: $gotham-font;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 10px 10px 0 10px;
  text-align: left;
  .Link {
    margin-right: 8px;
    text-decoration: none;
  }
}


.CommentThread__ThumbnailHolder {
  display: block;
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  margin-right: 8px;

  img {
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.CommentThread_timestamp {
  font-family: $gotham-font;
  margin-left: auto;
}

.Comments {
  font-family: $gotham-font;
  margin: 5px 10px 0 10px;
}

.CustomCommentMentions__StyledCommentInput {
  color: white;
  cursor: text;
  padding: 10px;
  padding-right: 45px;
  font-size: 1rem;
  font-family: $gotham-font;
  padding: 10px;
  margin-bottom: 5px;
  background: #5a6a7c;
  transition: background 1s 0.5s ease;

  .timestamp {
    display: inline-block;
    margin-left: 10px;
  }

  .message {
    color: white;
    display: block;
    margin-left: 5px;
    margin-top: 10px;
  }
}

.layout__InlineRow {
  align-items: center;
  display: flex;
}

.Avatar__StyledAvatar {
  width: 32px;
  margin-left: 5px;
  margin-right: 5px;
  height: 32px;
  cursor: initial;

  img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    border-radius: 50%;
  }
}

.typography__DisplayText {
  color: white;
  font-weight: 400;
  font-family: $gotham-font;
  font-size: 1rem;
}

// trial_users_count_exceeded_mailer

.trail-users-count-exceeded-mailer {
  font-family: $gotham-font;

  .subject {
    font-size: 36px;
    line-height: 0.72;
    text-align: center;
    color: #120f0e;
    margin-bottom: 40px;
  }

  .organization-name {
    margin: 24px 0;
    background-color: #3f526a;
    padding: 24px;
    text-align: center;
    color: white;
    font-size: 24px;
  }

  .section {
    margin: 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c6c1bf;

    .header {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.6px;
      color: #120f0e;
    }

    .free-trial {
      background-color: #c0dbde;
      padding: 4px 6px;
      margin-left: -6px;
    }

    .inner {
      padding: 0 20px;
      font-size: 16px;
      line-height: 1.63;
      color: #120f0e;
      overflow: auto;

      dt {
        float: left;
        clear: left;
      }
      dd {
        float: right;
      }

      .subtract {
        color: #a89f9b;
      }
    }
  }
}
