<!DOCTYPE html>
<html>
  <head>
    <title>OIE 2.0</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript"
            src="https://d3none3dlnlrde.cloudfront.net/1.0/js/ideo-sso-js-sdk.min.js">
    </script>
    <script>
      IdeoSSO.init(<%= ideo_sso_init_params.to_json.html_safe %>)
    </script>
    <!-- provide polyfills e.g. for `fetch`  -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
