<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'email' %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-inner">
        <div class="email-header">
          <a class="email-header__logo" href="<%= ENV['OKTA_BASE_URL']%>" title="Shape"></a>
        </div>


        <div class="email-content">
          <%= yield %>
        </div>

        <div class="email-footer">
          <div class="email-footer__why">You are receiving this email because you have an account or have been invited to Shape.</div>

          <div class="email-footer__copyright">&copy; 2018 IDEO</div>
        </div>

    </div>
  </body>
</html>
